html, body {
    height : 100%;
}

@media screen and (min-width: 601px)
{
body{
    margin:0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    box-sizing: border-box;
    background: #2cb8f0;
    }
    .chatbox{
        width:  49%;
        height: 66%; 
        background: #fff;
        padding: 25px;
        margin : 0px auto;
        box-shadow: 0 3px #ccc;
        overflow: hidden;
    }

        #chatlogs{

            padding: 10px;
            width: 100%;
            height : 444px;
            background: #fbfbfb;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .chatGPB, .chatSelf{
            display: flex ;
            flex-flow:  row wrap;
            align-items : flex-start;
            margin-bottom: 10px;
        }
        .GPB-photo{
            width: 60px;
            height : 60px;
            background-image: url("../pictures/grandPy.png") ;
            background-repeat: no-repeat;
            transform: translateY(25%);
            background-color: #fff;
            border-radius: 50%;
        }

        .SELF-photo{
            width: 60px;
            height : 60px;
            background-image: url("../pictures/Schtroumpfs.png") ;
            background-repeat: no-repeat;
            transform: translateY(3%);
            background-color: #fff;
            border-radius: 50%;
        }

        .chat-message, .rep-chat-message{
            width : 70%;
            padding: 15px;
            margin : 5px 10px 0;
            border-radius: 30px;
            color: #fff;
            font-size: smaller;
        }
        .chat-message > p{
            margin-top: 5px;
        }
        .chatGPB .chat-message, .chatGPB .rep-chat-message {
            background: #c52435;
            min-height: 30px;
        }

        .chatSelf .chat-message{
            background: #2abbf1;
            order: -1;
        }
        
    .chat-form{

        background : blue;
        margin : 0px auto;
        width:  49%; 
        padding: 15px 25px;
    }
        input {
            height: auto; width: 80%;
            margin-left: 8%; 
            margin-top: 5%;       }

        #last_line{
            width : 100%;
            margin : 10px auto;
            display: flex;
            justify-content: space-around;
        }
            #name{

                width: 120px; height: 25px;
                color : white;
            }
            button{
                height : 30px;
                width : 115px;
                transform: translateY(-25%);

            }
            #github img{

                transform: translateY(-25%);
            }
    

    #triangle{
        display:none;
        background-image: url("../pictures/triangle.png");
        background-repeat: no-repeat;
        float: left;
        position : absolute;
        left : 49%; 
        top : 49%; 
        flex-shrink : 0;
        width: 42px; height : 42px;
        transform: rotate(180deg);
        
    }
    @-webkit-keyframes my_anim {
        0% {transform: rotate(180deg);transform-origin: center;}

        100% {transform: rotate(900deg); transform-origin: center; }
    }
    .animation{
        animation: my_anim 2s;}

}

@media screen and (max-width: 600px)
{
body{
    position : relative;
    top: 0%; left : -1.5%;
    display : flex;
    flex-direction: column;
    width : 100%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    background: red;
    overflow: hidden;
}
    .chatbox{
        width: 98%; height: 75%;
        margin-top : 1%;
        background: #fff;
        box-shadow: 0 3px #ccc;
        overflow-x: hidden;
        overflow-y: scroll;
        flex-shrink: 0;
        z-index : 1; 
    }

        #chatlogs{
            padding: 10px 0px;
            margin-right : -60px;
            background: #fbfbfb;
        }

            .chatGPB, .chatSelf{
                display: flex ;
                flex-flow:  row wrap;
                align-items : flex-start;
                margin: 1%;
            }

            .GPB-photo{
                background-image: url("../pictures/grandPy.png") ;
                width : 40px; height : 40px;
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateY(50%);
                background-color: white;
                border-radius: 50%;
            }

            .SELF-photo{
                width : 40px; height : 40px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("../pictures/Schtroumpfs.png") ;
                transform: translateY(-3%);
                background-color: #fff;
                border-radius: 50%;
            }

            .chat-message, .rep-chat-message{
                display: flex ;
                flex-flow:  row wrap;
                align-items : flex-start;
                width : 64%; min-height : 20px;
                padding : 3%;
                margin : 1% 0%;
                border-radius: 30px;
                color: #fff;
                transform: translateY(3%);
                font-size: smaller;
            }
            .chat-message > p{
                margin-top: 5px;
            }
             .chatGPB .chat-message, .chatGPB .rep-chat-message {
                background: #c52435;
                min-height: 15px;

            }

            .chatSelf .chat-message{
                background: #2abbf1;
                order: -1;
            }

    .chat-form{
        position : absolute;
        top: 71%; left : -1%;
        width:  98%; height : auto; 
        min-height: 25%;
        margin: 1%;
        background : blue;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index : 1;
    }
        input {
            /*display : none;*/
            width : 70%; height : 34%;
            margin: 0% 14%;
        }

        #last_line{
            width : 100%;
            height : 35px;
            display: flex;
            justify-content: space-around;
        }
            #name{

                width: 120px; height: 25px;
                color : white;
            }
            button{
                height : 30px;
                width : 115px;
                transform: translateY(-25%);

            }
            #github{
                background-image: url("../pictures/github.png") ;
                width : 40px; height : 40px;
                background-size: contain;
                background-repeat: no-repeat;
            }
    

    #triangle{
        display: none;
        float: left;
        z-index :2;
        position : absolute; 
        left: 48%;
        top : 48%;
        flex-shrink: 0; 
        width: 42px;
        height: 42px;
        transform: rotate(180deg);
        background-image: url("../pictures/triangle.png");
        background-repeat: no-repeat;

    }
    @-webkit-keyframes my_anim {
        0% {transform: rotate(180deg);transform-origin: center;}

        100% {transform: rotate(900deg); transform-origin: center; }
    }
    .animation{
        animation: my_anim 2s;}
}
